* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbeeff;
  padding: 2px;
  position: sticky;
  top: 0;
  z-index: 999;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  color: #4a306d;
  font-family: "Playfair Display";
  font-size: 18px;
  gap: 40px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

.smlPriBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* pri sml btn */
.smlPriBtn button {
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  align-items: center;
  background-color: #bb74d8;
  font-size: 15px;
  font-weight: bold;
  color: #fbeeff;
  cursor: pointer;
}
.smlPriBtnCount {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -35px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: #fbeeff;
}

.navItem > a:hover {
  color: #ff69b4 !important;
}
