* {
  box-sizing: border-box;
}
/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffc9ff;
}
.heroDesc {
  display: flex;
  flex-basis: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  padding-left: 180px;
}
.desEle hr {
  border: 5px solid #bb74d8;
  width: 169px;
  height: 0px;
  background-color: #bb74d8;
}
.heroTitleCon h1 {
  display: flex;
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 46px;
  line-height: 55px;
  color: #4a306d;
}
.heroTitleCon h4 {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 44px;
  color: #b98dda;
}

/* cta btns */
.heroCta button {
  position: relative;
  align-items: center;
  width: 250px;
  height: 65px;
  border: 4px solid #bb74d8;
  background-color: #bb74d8;
  color: white;
}

.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.heroImage img {
  width: 100%;
  height: auto;
  display: block;
}

.heroTitleCon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heroCta button {
  cursor: pointer;
}
