.productList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowBtn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product img {
  height: 376px;
  width: 643px;
}

.prodTitle {
  text-transform: uppercase;
  color: #4a306d;
}

.slide {
  position: relative;
  width: 70%;
  height: 60%;
}

.slide-hidden {
  display: none;
}

.imgCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
